.footer {
    padding: 64px 5%;
    > hr {
        margin-block: 64px 32px;
        height: 1px;
        border: none;
        background-color: var(--clr-grey-200);
    }}

.horizontalList{
    display: flex;
    gap: 1rem;
    > li {
        list-style: none;
    }
}

.horizontalSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.MainContent {
    max-width: 482px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.AppStores {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-label {
    font-size: small;
    font-weight: 300;
    margin-bottom: 8px;
}

