* {
  background-color: antiquewhite;
  border: 0;
  font-size: 100%;
  padding:0;
  vertical-align: baseline;

}

.header {
  align-items: center;
}

nav {
    background-color: #fff;
    overflow: hidden;
  }

  nav.main-nav svg.search-icon {
    height: 20px;
    margin-right: 10px;
    color: black;
  }



  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    text-decoration: underline;
 
  }





