@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.main-list-container {
    display: grid;
    gap: 5px;
    align-items: center;

}

.list-plants {
    display: contents;
    background-color: #D2ECDF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 20px;
    padding: 15px;
    
  }

  .list-plants ul li {
    align-items: center;
  }

  .list-plants img {
    border-radius: 15px;
    justify-content: center;
  }

  .list-plants h2 {
    font-family: 'Indie Flower';
    font-size: larger;
    padding-top: 6px;
    text-align: center;
    color: black;
  }

  .list-plants h3 {
    font-family: 'Indie Flower';
    font-size: x-large;
    padding-top: 6px;
    text-align: center;
    color: #75B524;
  }

  .list-plants p {
    font-family: 'Indie Flower';
    font-size: larger;
    padding-top: 6px;
    text-align: center;
    color: black;
  }

  .list-plants button btn {
    justify-content: center;
      font-family: 'Indie Flower';
      background-color: #09433D;
      border:1px solid #09433D;
      border-radius: 0.5rem;
      color: white;
      font-size: 1em;
      padding: 0.7rem 1.2rem;
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      font-weight: 600;
      padding: 0.7rem 1.2rem;
      transition: all 0.2s ease-out;
      margin-left: 14px;
  }

  @media (min-width: 850px) {
    .main-list-container {
      grid-template-columns: repeat(3, 1fr);
    }
  
  } 

.main-aside-list {
  display:flex;
  flex-direction: column;
  width: 45%;
  gap: 10px;
  padding: 25px;
}

.aside-titles {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  // align-items:flex-start;
}




.list-plants img {
  max-width: 100%;
  height: auto;
}


  
  .main-aside {
    width: 35%; /* Set the width of the aside element */
  }

  .filtered-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: large;
    color: #09433D;
    background-color: azure;
    padding: 1rem 1rem;
  }
  .checkbox-container {
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Indie Flower';
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .checkbox-container label {
    font-weight: bold;
  }
  
  /* Optional: Add some additional styling for checked checkboxes */
  .checkbox-container input[type="checkbox"]:checked + label {
    color: #3366cc;
    /* Example: Change the color of the label when the checkbox is checked */
  }
  
