.main {
    display: flex;
}
.main-title {
  font-size: 25px;
  justify-content: center;
  font-family: Montserrat 
}


// .container {
//   display: flex;
//   flex-wrap: wrap;
// }


.list-plants {
    justify-content: right;
    margin-top: 0 auto;
    padding: 150px ;
    
  }

.main-aside-list {
  display:flex;
  flex-direction: column;
  width: 45%;
  gap: 10px;
  padding: 25px;
}

.aside-titles {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  // align-items:flex-start;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.list-plants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

  .list-plants ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.list-plants li {
  display: inline-block;
  flex-basis: 30%;
  padding: 10px;
  text-align: center;
  width:30%;
  margin:20px;
}



.list-plants img {
  max-width: 100%;
  height: auto;
}



  // .wrap {
  //   display: flex;
  // }
  
  .main-aside {
    width: 35%; /* Set the width of the aside element */
  }
  
  .list-plants {
    width: 65%; /* Set the width of the section element */
  }